<VirtualHost *:80>
        ServerName {{ domainname }}
        ServerAlias www.{{ domainname }}
        DocumentRoot {{ documentroot }}
        <Directory {{ documentroot }}>
                AllowOverride All
                Options +FollowSymlinks -Indexes
        </Directory>
        ErrorLog logs/{{ domainname }}-error_log
        CustomLog logs/{{ domainname }}-access_log combined
</VirtualHost>

